<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/bootstrap/css/bootstrap.min.css'%}">
<!--  <link rel="stylesheet" href="../../static/style/main.css">-->
      <link rel="stylesheet" href="{% static 'style/main.css'%}">
  <script src="{% static 'style/bootstrap/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'style/bootstrap/js/bootstrap.bundle.js'%}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-dycfndVpiadTpDQ4D7+0Rt2I++G+rbzYZbJVRfC8jy/fup7njD9U1b9Vf3bpz68g" crossorigin="anonymous">




</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{%url 'about' %}">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Smart phones</a></li>
            <li><a class="dropdown-item" href="#">Laptops</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Smart TVs</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>

{% block content %}



{% endblock %}


<!--<footer>-->
<!--  <footer class="text-center text-white" style="background-color: #d1cece;">-->
<!--  &lt;!&ndash; Grid container &ndash;&gt;-->
<!--  <div class="container pt-4">-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--    <section class="mb-4">-->
<!--      &lt;!&ndash; Facebook &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark">-->
<!--        <i class="fab fa-facebook-f">-->
<!--        </i>-->
<!--      </a>-->

<!--      &lt;!&ndash; Twitter &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-twitter"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Google &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-google"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Instagram &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-instagram"></i-->
<!--      ></a>-->

<!--      &lt;!&ndash; Linkedin &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-linkedin"></i-->
<!--      ></a>-->
<!--      &lt;!&ndash; Github &ndash;&gt;-->
<!--      <a-->
<!--        class="btn btn-link btn-floating btn-lg text-dark m-1"-->
<!--        href="#!"-->
<!--        role="button"-->
<!--        data-mdb-ripple-color="dark"-->
<!--        ><i class="fab fa-github"></i-->
<!--      ></a>-->
<!--    </section>-->
<!--    &lt;!&ndash; Section: Social media &ndash;&gt;-->
<!--  </div>-->
<!--  <div class="text-center text-dark p-3" style="background-color: rgba(50,46,46,0.2);">-->
<!--    © 2024 Copyright:-->
<!--    <a class="text-dark" href=" ">MaunduCyrus.com</a>-->
<!--  </div>-->
<!--  &lt;!&ndash; Copyright &ndash;&gt;-->
<!--</footer>-->
<!--</footer>-->

<!-- Remove the container if you want to extend the Footer to full width. -->


  <!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="">MaunduCyrus.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->


</body>
</html>