{% extends 'base.html' %}

{% block content %}

{% block title%}

Home 

{% endblock %}

<!--create a heading of the pages-->
<!--create a bootstrap carousel with three images-->
<!--create a paragraph using lorem with 60 words-->
<!--create a bootstrap jumbotron-->
<!--create a paragraph using lorem with 60 words-->

<h1>Tech Haven Electronics</h1>

<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
<!--      ../../static/images/phone.png-->
      <img src="https://img.kilimall.com/c/obs/seller/8299/goods_image/240921205357_d907eae974c6a70604c7e2bec4a92aab.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Smart phone</h5>
<!--        <p>Make any call at any time you want.</p>-->
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://img.kilimall.com/c/obs/seller/100002478/goods_image/240906152811_082bb8adab7a0575f33be8e44462a628.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Smart Tv</h5>
<!--        <p>Have all the world news at hand.</p>-->
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://img.kilimall.com/c/obs/seller/100002153/goods_image/240819221457_f4baaefec1958c636455c5943ed51e29.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Laptop</h5>
<!--        <p>Program with ease.</p>-->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--home section and all content starts here-->
<!--<div class="home">-->
<!--    <div class="hero-1">-->
<!--        -->
<!--    </div>-->
<!--    -->
<!--    <div class="hero-2">-->
<!--        -->
<!--    </div>-->
<!--</div>-->
<div class="home">
  <div class="hero-1">
    <h2>Welcome to Our Website</h2>
      <p>
          Simply put, our mission is to help people grow their businesses. This is why millions of executives in growing companies rely
          acquire the knowledge, products and services they need to run and grow their businesses and careers.
          It's also where thousands of advertisers reach and engage these valuable buyers, generating well over $1.6 billion in incremental annual revenue.
      </p>
  </div>

  <div class="hero-2">
    <img src="https://xtratheme.com/elementor/business-2/wp-content/uploads/sites/18/2017/11/tt1-1.jpg" alt="Hero Image">
  </div>
</div>



<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda di
    stinctio dolores porro repudiandae voluptas voluptate. Ab culpa cum esse facilis illum ipsa, ipsum laboriosam magnam necessitatibus placeat porro quas, quos ratione, reprehenderit sunt. Minima nulla quo rem? Assumenda deleniti deserunt dignissimos ducimus eius eum expedita fuga, id, impedit it
    aque minima natus pariatur porro quae quod sed similique sit voluptatem?</p>


<div class="jumbotron">
  <h1 class="display-4">Hello, Valued Guests!</h1>
  <p class="lead">Here’s a business-focused version tailored for an electronics shop:

Welcome to Tech Haven Electronics Electronics!

Your one-stop destination for the latest tech at unbeatable prices. Explore a vast selection of quality electronics, from smartphones and laptops to home appliances and accessories.</p>
  <hr class="my-4">
  <p>Whether you’re upgrading, gifting, or equipping your home, we’re committed to providing exceptional service and top-notch products to meet all your tech needs..</p>
  <p class="lead text-center">
    <a class="btn btn-primary btn-lg mx-auto"  href="#" role="button">Get More</a>
  </p>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda di
    stinctio dolores porro repudiandae voluptas voluptate. Ab culpa cum esse facilis illum ipsa, ipsum laboriosam magnam necessitatibus placeat porro quas, quos ratione, reprehenderit sunt. Minima nulla quo rem? Assumenda deleniti deserunt dignissimos ducimus eius eum expedita fuga, id, impedit it
    aque minima natus pariatur porro quae quod sed similique sit voluptatem?</p>

{% endblock %}